* {
    background-color: grey;
}

body {
    font-family: "Bebas Neue", sans-serif;
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 100px;
}

#scoreTable {
    margin-top: 20px;
    margin-bottom: 60px;
}

#scoreTable table {
    border-collapse: collapse;
    width: 17.5%;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

#scoreTable th, #scoreTable td {
    padding: 10px;
    width: 25%; /* Imposta una larghezza uniforme per tutte le celle */
}

#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.square {
    width: 120px;
    height: 120px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: grey;
}

.square:hover {
    background-color: #dce0e7;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 60px;
    width: 120px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    color:  grey;
}

#restartButton:hover {
    background-color:  #dce0e7;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
